:root {
  --n0: #2e3440;
  --n1: #3b4252;
  --n2: #434C5E;
  --n3: #4C566A;
  --n4: #D8DEE9;
  --n5: #E5E9F0;
  --n6: #ECEFF4;
  --pink: #D6BBCF;
  --brown: #7D6464;

}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Forum', cursive;

}

h1,h2,h3,h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  line-height: 1.25em;
}

.flex {
  display: flex;
}

.header {
  background: var(--n0);
  color: var(--n6);
  height: auto;
  padding: 48px 2.6% 0 2.6%;
}

.header .info {
  max-width: 45%;
}

.header .image {
  align-content: flex-end;
  margin-right: 5%;
  min-height: 500px;
  object-fit: cover;
  border-radius: 0px;
}

.assignment {
  font-size: 12px;
  padding: 20px 20px 20px 30px;
  width: 80%;
  height: 350px;
  overflow: hidden;
  float: left;
}

.assignment:hover { overflow:auto }

.assignment a {
    color: #000;
    text-decoration: none;
    transition: ease-in-out 300ms;
}

.assignment a:hover {
  background: var(--pink);
  color: var(--pink);
  text-decoration: none;
  transition: ease-in-out 300ms;
}